/* requires built-in dark theme */
:root {
  /* tab preview popup */
  --arrowpanel-background: rgb(34, 34, 34) !important;
  --arrowpanel-border-color: rgb(34, 34, 34) !important;
  --arrowpanel-color: rgb(170, 170, 170) !important;
  --arrowpanel-dimmed: rgba(0, 0, 0, 0.4) !important;

  /* toolbar icons, text, and bg */
  --toolbarbutton-icon-fill: rgb(136, 136, 136) !important;
  --toolbar-color: rgb(170, 170, 170) !important;
  --toolbar-bgcolor: rgb(34, 34, 34) !important;

  /* tab line background color */
  --toolbox-bgcolor: rgb(34, 34, 34) !important;
  --toolbox-bgcolor-inactive: rgb(34, 34, 34) !important;

  /* tab text and outline */
  --lwt-text-color: rgb(136, 136, 136) !important;
  --lwt-tab-line-color: rgb(35, 205, 179) !important;
  --lwt-tabs-border-color: olive !important;

  /* selected tab text and bg */
  --tab-selected-textcolor: rgb(170, 170, 170) !important;
  --tab-selected-bgcolor: rgb(34, 34, 34) !important;

  /* the loading spinner in new tabs */
  --tab-loading-fill: rgb(35, 205, 179) !important;

  /* url bar border when unfocused and focused */
  --toolbar-field-border-color: rgb(34, 34, 34) !important;
  --toolbar-field-focus-border-color: rgb(35, 205, 179) !important;
  /* url bar background*/
  --toolbar-field-background-color: rgb(17, 17, 17) !important;
  --toolbar-field-focus-background-color: rgb(17, 17, 17) !important;
  /* url bar text */
  --toolbar-field-color: rgb(255, 255, 255) !important;
  --toolbar-field-focus-color: rgb(255, 255, 255) !important;
  /* search popup highlight */
  --urlbarView-highlight-background: rgb(68, 68, 68) !important;

  /* sidebar (history, etc) */
  --lwt-sidebar-background-color: rgb(34, 34, 34) !important;
  --lwt-sidebar-text-color: rgb(170, 170, 170) !important;
}

#navigator-toolbox { border-bottom-color: rgb(34, 34, 34) !important; }

/* sidebar header */
#sidebar-box{ --sidebar-background-color: rgb(34, 34, 34) !important; }
#sidebar-box{ --sidebar-text-color: rgb(170, 170, 170) !important; }
