/*
 *       "toolbar": "rgb(34, 34, 34)",
      "toolbar_text": "rgb(170, 170, 170)",
      "frame": "rgb(34, 34, 34)",
      "tab_background_text": "rgb(136, 136, 136)",
      "toolbar_field": "rgb(17, 17, 17)",
      "toolbar_field_text": "rgb(255, 255, 255)",
      "tab_line": "rgb(35, 205, 179)",
      "popup": "rgb(34, 34, 34)",
      "popup_text": "rgb(136, 136, 136)",
      "ntp_background": "rgb(34, 34, 34)",
      "ntp_text": "rgb(136, 136, 136)",
      "toolbar_bottom_separator": "rgb(34, 34, 34)",
      "toolbar_top_separator": "rgb(34, 34, 34)",
      "tab_loading": "rgb(35, 205, 179)"
      */

/* requires built-in dark theme */
:root {
  /* "frame": "rgb(7, 43, 71)" */
  --lwt-accent-color: rgb(34, 34, 34) !important;
  --lwt-accent-color-inactive: rgb(34, 34, 34) !important;
  --toolbox-bgcolor: rgb(34, 34, 34) !important;
  --toolbox-bgcolor-inactive: rgb(34, 34, 34) !important;

  /* tab preview popup */
  --arrowpanel-background: rgb(34, 34, 34) !important;
  --arrowpanel-border-color: rgb(34, 34, 34) !important;
  --arrowpanel-color: rgb(170, 170, 170) !important;
  --arrowpanel-dimmed: rgba(0, 0, 0, 0.4) !important;

  /* toolbar icons, text, and bg */
  --toolbarbutton-icon-fill: rgb(136, 136, 136) !important;
  --toolbar-color: rgb(170, 170, 170) !important;
  --toolbar-bgcolor: rgb(34, 34, 34) !important;

  /* tab text and outline */
  --lwt-text-color: rgb(136, 136, 136) !important;
  --lwt-tab-line-color: rgb(35, 205, 179) !important;

  /* selected tab text and bg */
  --tab-selected-textcolor: rgb(170, 170, 170) !important;
  --tab-selected-bgcolor: rgb(34, 34, 34) !important;

  /* the loading spinner in new tabs */
  --tab-loading-fill: rgb(35, 205, 179) !important;

  /* url bar border when unfocused and focused */
  --toolbar-field-border-color: rgb(34, 34, 34) !important;
  --toolbar-field-focus-border-color: rgb(35, 205, 179) !important;
  /* url bar background*/
  --toolbar-field-background-color: rgb(17, 17, 17) !important;
  --toolbar-field-focus-background-color: rgb(17, 17, 17) !important;
  /* url bar text */
  --toolbar-field-color: rgb(255, 255, 255) !important;
  --toolbar-field-focus-color: rgb(255, 255, 255) !important;
}
